* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
}

nav {
	height: 10vh;
	max-width: 100%;
}

.nav-items {
	height: 200px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	overflow-x: hidden;
}

.hamburger {
	position: absolute;
	top: 1rem;
	right: 1rem;
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.links {
	height: 50px;
	width: 150px;
	padding: 0.2em 0.2em;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	border: 1px solid black;
	transform: translateX(500px);
	transition: 500ms ease-in-out;
	opacity: 0;
	z-index: 2;
}

.links > a {
	text-decoration: none;
	font-family: "Inter", sans-serif;
	font-size: 1.2rem;
	transition: 100ms ease-in-out;
}

.links > a:hover {
	transform: scale(1.2);
}

.icon-sub {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon-sub a {
	font-family: "Inter", sans-serif;
	text-decoration: none;
	font-size: 1.2rem;
	transition: 100ms ease-in-out;
}

.nav-icon {
	display: none;
	cursor: pointer;
}

.close {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 5px;
	left: 5px;
	cursor: pointer;
}

.show {
	height: 200px;
	width: 200px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	transform: translateX(120px);
	opacity: 1;
	z-index: 2;
}

.hero {
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero img {
	position: absolute;
	height: 400px;
	width: 320px;
}

.logo {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 1.5rem;
	font-family: "Alex Brush", cursive;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -1px;
	text-shadow: 0.2px 0.2px 0.5px grey;
}

h1 {
	position: relative;
	color: white;
	font-size: 2.8rem;
	font-family: "Alex Brush", cursive;
	font-weight: 900;
	font-style: normal;
	line-height: 2;
	word-spacing: 20px;
	text-shadow: 0.2px 0.2px 3px black;
}

h2 {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.products {
	height: 200vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cards {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.productCard {
	background-image: url(../img/product.png);
	background-size: cover;
	height: 150px;
	width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -30px;
}

.cardContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 1em 2em;
}

.flavor {
	text-decoration: underline;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
	width: 60%;
}

.contact {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 0;
}

.form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 350px;
	width: 350px;
	border: none;
	border-radius: 50px;
	background: #d2d1d0;
	box-shadow: 20px 20px 75px #b3b2b1, -20px -20px 75px #f2f0ef;
}

label {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-size: 1.2rem;
	font-weight: 300;
	text-align: left;
}

input {
	height: 1.5rem;
	width: 90%;
	border-radius: 0.3rem;
}

.emailButton {
	margin-top: 20px;
	background-color: white;
	border: 1px solid #222222;
	border-radius: 8px;
	box-sizing: border-box;
	color: black;
	cursor: pointer;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-size: 0.8rem;
	font-weight: 600;
	line-height: 20px;
	outline: none;
	padding: 0.1rem 0.4rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
	transition: box-shadow 0.2s, -ms-transform 0.6s, -webkit-transform 0.1s,
		transform 0.1s;
	user-select: none;
	-webkit-user-select: none;
	width: auto;
}

.emailButton:focus-visible {
	box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
	transition: box-shadow 0.2s;
}

.emailButton:hover {
	background-color: #7e2928;
	color: white;
}

.socialMedia {
	height: 20vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.socialIcon {
	height: 1rem;
	width: 1rem;
	margin: 0 1.2rem;
	transition: 100ms ease-in-out;
	cursor: pointer;
}

.socialIcon:hover {
	transform: scale(1.1);
}

@media only screen and (min-width: 375px) and (height: 667px) and (-webkit-device-pixel-ratio: 2) {
	.show {
		transform: translateX(180px);
	}

	.hero img {
		position: absolute;
		height: 533px;
		width: 375px;
	}

	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	.products {
		height: 150vh;
		width: 100%;
	}

	.contact {
		height: 100vh;
	}

	.socialIcon {
		margin: 0.5em 1.5em;
	}
}

@media only screen and (min-width: 390px) and (max-width: 413px) {
	.logo {
		font-size: 1.5rem;
	}

	.show {
		transform: translateX(200px);
	}

	.hero img {
		position: absolute;
		height: 675px;
		width: 390px;
	}

	h2 {
		font-size: 2rem;
	}

	.products {
		height: 200vh;
		width: 100%;
		margin: 20px 0;
	}

	.cards {
		height: 200vh;
		width: 100%;
	}

	.productCard {
		height: 300px;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -30px;
	}

	.cardContent p {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight: 100;
		text-shadow: 0.9px 1px 0.08px black;
		color: black;
		font-size: 1.5rem;
		margin-bottom: 20px 0;
	}

	.contact {
		height: 100vh;
		width: 100%;
	}

	.form-container {
		height: 500px;
	}

	.icons,
	img {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0 2px;
		height: 25px;
		width: 25px;
	}

	.socialIcon {
		margin: 2em 1.2em;
	}
}

@media only screen and (min-width: 414px) and (max-width: 429px) {
	.show {
		transform: translateX(215px);
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	.hero img {
		height: 716px;
		width: 414px;
	}

	.logo {
		font-size: 1.7rem;
	}

	.products {
		height: 200vh;
		width: 100%;
	}

	.cards {
		height: 200vh;
		width: 100%;
	}

	.productCard {
		height: 300px;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -30px;
	}

	.cardContent p {
		text-shadow: 0.5px 0.5px 0.08px grey;
		color: black;
		font-size: 1.8rem;
		margin-bottom: 20px 0;
	}

	.contact {
		height: 100vh;
		width: 100%;
	}

	.icons img {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0 20px;
		height: 25px;
		width: 25px;
	}

	.socialIcon {
		margin: 2em 1.2em;
	}
}

@media only screen and (min-width: 430px) and (height: 932px) and (-webkit-device-pixel-ratio: 3) {
	.show {
		transform: translateX(250px);
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	.hero img {
		height: 745px;
		width: 430px;
	}

	.logo {
		font-size: 1.7rem;
	}

	.products {
		height: 200vh;
		width: 100%;
	}

	.cards {
		height: 200vh;
		width: 100%;
	}

	.productCard {
		height: 300px;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -30px;
	}

	.cardContent p {
		text-shadow: 0.5px 0.5px 0.08px grey;
		color: black;
		font-size: 1.8rem;
		margin-bottom: 20px 0;
	}

	.contact {
		height: 100vh;
		width: 100%;
	}

	.icons img {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0 20px;
		height: 30px;
		width: 30px;
	}

	.socialIcon {
		margin: 2em 3em;
	}
}

@media only screen and (min-width: 768px) and (max-width: 819px) {
	.hamburger {
		display: none;
	}

	.close {
		display: none;
	}

	.links {
		height: 5vh;
		width: 20%;
		position: absolute;
		top: 0.7rem;
		left: 1.2rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border: none;
		transition: 500ms ease-in-out;
		opacity: 1;
		margin: 0 1rem;
	}

	.links a {
		margin: 0 0.2em;
	}

	.icon-sub {
		display: none;
	}

	.nav-icon {
		display: flex;
		height: 25px;
		width: 25px;
		margin: 0.2em;
	}

	.logo {
		position: absolute;
		top: 1rem;
		left: 1rem;
		font-size: 2.2rem;
		font-family: "Alex Brush", cursive;
		font-weight: 400;
		font-style: normal;
		letter-spacing: -1px;
		text-shadow: 0.2px 0.2px 0.5px grey;
	}

	.hero {
		height: 100vh;
	}

	.hero img {
		width: 768px;
		height: 1024px;
	}

	h1 {
		position: relative;
		color: white;
		font-size: 8rem;
		font-family: "Alex Brush", cursive;
		font-weight: 900;
		font-style: normal;
		line-height: 2;
		word-spacing: 20px;
		text-shadow: 0.2px 0.2px 3px black;
	}

	h2 {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-variation-settings: "slnt" 0;
		font-size: 3rem;
		margin-bottom: 20px;
	}

	.icons img {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0 50px;
		height: 50px;
		width: 50px;
	}

	.products {
		height: 100vh;
		width: 100%;
	}

	.cards {
		height: 80vh;
		width: 100%;
		flex-direction: row;
	}

	.productCard {
		background-image: url(../img/product.png);
		background-size: cover;
		height: 250px;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -30px;
	}

	.flavor {
		font-size: 2rem;
	}

	.contact {
		height: 100vh;
	}

	.form-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
		width: 40%;
	}

	.form {
		height: 510px;
		width: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3.2rem;
		box-shadow: 20px 20px 75px #b3b2b1, -20px -20px 75px #f2f0ef;
	}

	label {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-size: 1.6rem;
		font-weight: 300;
	}

	input {
		height: 5;
		width: 100%;
		border-radius: 0.3rem;
		margin-bottom: 1rem;
	}

	textarea {
		width: 100%;
	}

	.socialMedia {
		height: 20vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.icons img {
		height: 2rem;
		width: 2rem;
		margin: 2em 3em;
	}
}

@media only screen and (min-width: 820px) and (max-width: 991px) {
	.hamburger {
		display: none;
	}

	.close {
		display: none;
	}

	.links {
		height: 5vh;
		width: 20%;
		position: absolute;
		top: 0.7rem;
		left: 4.5rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border: none;
		transition: 500ms ease-in-out;
		opacity: 1;
		margin: 0 1rem;
	}

	.links a {
		margin: 0 0.2em;
	}

	.icon-sub {
		display: none;
	}

	.nav-icon {
		display: flex;
		height: 25px;
		width: 25px;
		margin: 0.2em;
	}

	.logo {
		position: absolute;
		top: 1rem;
		left: 1rem;
		font-size: 2.2rem;
		font-family: "Alex Brush", cursive;
		font-weight: 400;
		font-style: normal;
		letter-spacing: -1px;
		text-shadow: 0.2px 0.2px 0.5px grey;
	}

	.hero {
		height: 100vh;
	}

	.hero img {
		width: 820px;
		height: 1180px;
	}

	h1 {
		position: relative;
		color: white;
		font-size: 8rem;
		font-family: "Alex Brush", cursive;
		font-weight: 900;
		font-style: normal;
		line-height: 2;
		word-spacing: 20px;
		text-shadow: 0.2px 0.2px 3px black;
	}

	h2 {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-variation-settings: "slnt" 0;
		font-size: 3rem;
		margin-bottom: 20px;
	}

	.icons img {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0 50px;
		height: 1rem;
		width: 1rem;
	}

	.products {
		height: 100vh;
		width: 100%;
	}

	.cards {
		height: 80vh;
		width: 100%;
		flex-direction: row;
	}

	.productCard {
		background-image: url(../img/product.png);
		background-size: cover;
		height: 250px;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -30px;
	}

	.flavor {
		font-size: 2rem;
	}

	.price {
		font-size: 1.5rem;
	}

	.contact {
		height: 100vh;
	}

	.form-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
		width: 40%;
	}

	.form {
		height: 510px;
		width: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3.2rem;
		box-shadow: 20px 20px 75px #b3b2b1, -20px -20px 75px #f2f0ef;
	}

	label {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-size: 1.6rem;
		font-weight: 300;
	}

	input {
		height: 2rem;
		width: 100%;
		border-radius: 0.3rem;
		margin-bottom: 1rem;
	}

	textarea {
		width: 100%;
	}

	.socialMedia {
		height: 20vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.icons img {
		height: 2rem;
		width: 2rem;
		margin: 2em 2.5em;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.hamburger {
		display: none;
	}

	.close {
		display: none;
	}

	.links {
		height: 5vh;
		width: 20%;
		position: absolute;
		top: 0.5rem;
		left: 15rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border: none;
		transition: 500ms ease-in-out;
		opacity: 1;
		margin: 0 1rem;
	}

	.links a {
		margin: 0 0.2em;
	}

	.icon-sub {
		display: none;
	}

	.nav-icon {
		display: flex;
		height: 25px;
		width: 25px;
		margin: 0.2em;
	}

	.logo {
		position: absolute;
		top: 1rem;
		left: 1rem;
		font-size: 3rem;
		font-family: "Alex Brush", cursive;
		font-weight: 400;
		font-style: normal;
		letter-spacing: -1px;
		text-shadow: 0.2px 0.2px 0.5px grey;
	}

	.hero {
		height: 100vh;
	}

	.hero img {
		width: 1024px;
		height: 1366px;
	}

	h1 {
		position: relative;
		color: white;
		font-size: 10rem;
		font-family: "Alex Brush", cursive;
		font-weight: 900;
		font-style: normal;
		line-height: 2;
		word-spacing: 20px;
		text-shadow: 0.2px 0.2px 3px black;
	}

	h2 {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-variation-settings: "slnt" 0;
		font-size: 4rem;
		margin-bottom: 20px;
	}

	.icons img {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0 50px;
		height: 1.5rem;
		width: 1.5rem;
	}

	.products {
		height: 100vh;
		width: 100%;
	}

	.cards {
		height: 80vh;
		width: 100%;
		flex-direction: row;
	}

	.productCard {
		background-image: url(../img/product.png);
		background-size: cover;
		height: 300px;
		width: 250px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -30px;
	}

	.flavor {
		font-size: 2rem;
	}

	.price {
		font-size: 1.5rem;
	}

	.contact {
		height: 100vh;
	}

	.form-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
		width: 40%;
	}

	.form {
		height: 510px;
		width: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3.2rem;
		box-shadow: 20px 20px 75px #b3b2b1, -20px -20px 75px #f2f0ef;
	}

	label {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-size: 1.6rem;
		font-weight: 300;
	}

	input {
		height: 2rem;
		width: 100%;
		border-radius: 0.3rem;
		margin-bottom: 1rem;
	}

	textarea {
		width: 100%;
	}

	.socialMedia {
		height: 20vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.icons img {
		height: 2rem;
		width: 2rem;
		margin: 2em 2.5em;
	}
}

@media only screen and (min-width: 1200px) {
	.hamburger {
		display: none;
	}

	.close {
		display: none;
	}

	.links {
		height: 10vh;
		width: 20%;
		position: absolute;
		top: 0.5rem;
		left: 38rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border: none;
		transition: 500ms ease-in-out;
		opacity: 1;
		margin: 0 1rem;
	}

	.nav-items {
		height: 10vh;
	}

	.links a {
		margin: 0 0.5em;
	}

	.icon-sub {
		display: none;
	}

	.nav-icon {
		display: flex;
		height: 25px;
		width: 25px;
		margin: 0.8em;
	}

	.logo {
		position: absolute;
		top: 1rem;
		left: 1rem;
		font-size: 3rem;
		font-family: "Alex Brush", cursive;
		font-weight: 400;
		font-style: normal;
		letter-spacing: -1px;
		text-shadow: 0.2px 0.2px 0.5px grey;
	}

	.hero {
		background-image: url("/assets/img/coffee.png");
		height: 100vh;
		width: 100%;
	}

	.hero img {
		display: none;
	}

	h1 {
		position: relative;
		color: white;
		font-size: 12rem;
		font-family: "Alex Brush", cursive;
		font-weight: 900;
		font-style: normal;
		line-height: 2;
		word-spacing: 20px;
		text-shadow: 0.2px 0.2px 3px black;
	}

	h2 {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-variation-settings: "slnt" 0;
		font-size: 4rem;
		margin-bottom: 20px;
	}

	.icons img {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0 50px;
		height: 1.5rem;
		width: 1.5rem;
	}

	.products {
		height: 100vh;
		width: 100%;
	}

	.cards {
		height: 100vh;
		width: 100%;
		flex-direction: row;
	}

	.productCard {
		background-image: url(../img/product.png);
		background-size: cover;
		height: 300px;
		width: 250px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -30px;
	}

	.flavor {
		font-size: 2rem;
	}

	.price {
		font-size: 1.5rem;
	}

	.contact {
		height: 100vh;
	}

	.form-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 40%;
	}

	.form {
		height: 510px;
		width: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3.2rem;
		box-shadow: 20px 20px 75px #b3b2b1, -20px -20px 75px #f2f0ef;
	}

	label {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-size: 1.6rem;
		font-weight: 200;
	}

	input {
		height: 2rem;
		width: 100%;
		border-radius: 0.3rem;
		margin-bottom: 1rem;
	}

	textarea {
		width: 100%;
	}

	.socialMedia {
		height: 30vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.icons img {
		height: 2rem;
		width: 2rem;
		margin: 2em 2.5em;
	}
}

@media only screen and (width: 430px) and (height: 932px) and (-webkit-device-pixel-ratio: 3) {
}
